{:resource plugins.actors/plugin
 :expose   [:muse/*
            :phase/*
            :actor/tell
            :actor/list
            :actor/spawn
            :actor/mailbox
            :task/*
            :agent/*]}
