{:dev
 {:allow #{:muse/*
           :phase/*
           :actor/*
           :apifany/*
           :receipt/*
           :session/*
           :web/*}
  :audit :verbose}

 :ci
 {:allow #{:actor/list :receipt/*}
  :deny #{:muse/* :phase/*}
  :deny-effects #{:network/search}
  :audit :strict}

 :prod
 {:allow #{:muse/* :phase/* :actor/* :apifany/* :receipt/* :session/* :web/*}
  :audit :full}}
