{:tools
 [{:id          :muse/spawn
   :capability  :capability/muse-spawn
   :name        "muse_spawn"
   :description "Register a new Muse actor."
   :tags        #{:muse :actors}}

  {:id          :muse/phases
   :capability  :capability/muse-phases
   :name        "muse_phases"
   :description "List all phases spawned by a Muse."
   :tags        #{:muse :actors}}

  {:id          :phase/spawn
   :capability  :capability/phase-spawn
   :name        "phase_spawn"
   :description "Spawn a new phase sub-actor under a Muse."
   :tags        #{:phase :actors}}

  {:id          :phase/list_active
   :name        "phase_list_active"
   :description "List phase actors that have received messages."
   :tags        #{:phase :actors}}

  {:id          :phase/list_idle
   :name        "phase_list_idle"
   :description "List phase actors with empty mailboxes."
   :tags        #{:phase :actors}}

  {:id          :phase/tail
   :name        "phase_tail"
   :description "Return the last N messages from a phase mailbox."
   :tags        #{:phase :actors}}

  {:id          :phase/head
   :name        "phase_head"
   :description "Return the first N messages from a phase mailbox."
   :tags        #{:phase :actors}}

  {:id          :phase/filter
   :name        "phase_filter"
   :description "Filter phase mailbox by event type."
   :tags        #{:phase :actors}}

  {:id          :phase/observations
   :name        "phase_observations"
   :description "Get all observations from a phase."
   :tags        #{:phase :actors}}

  {:id          :phase/conclusions
   :name        "phase_conclusions"
   :description "Get all conclusions from a phase."
   :tags        #{:phase :actors}}

  {:id          :actor/tell
   :name        "actor_tell"
   :description "Send a message between actors."
   :tags        #{:actor :actors}}

  {:id          :actor/list
   :name        "actor_list"
   :description "List all registered actors."
   :tags        #{:actor :actors}}]

 :hooks []}
